__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
# Python virtual environments
.venv/
venv/
python/venv/
python/.venv/
**/.venv/
**/venv/
.DS_Store
*.sqlite
*.h5
*.pt
# Optional: ignorar la carpeta .git/lfs object because it's local
.git/lfs/objects/

# Node modules
node_modules/
package-lock.json

# Mantener Backend/models/embedder PARA SUBIR A GITHUB
# (Necesario para que Docker tenga acceso al modelo entrenado)
# No ignores los archivos del modelo: 
# !Backend/models/embedder/
# !Backend/models/embedder/model.safetensors
