__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
# Python virtual environments
.venv/
venv/
python/venv/
python/.venv/
**/.venv/
**/venv/
.DS_Store
*.sqlite
*.h5
*.pt
# Optional: ignorar la carpeta .git/lfs object because it's local
.git/lfs/objects/
*.pbix
